<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Task Details</title>
    <hr></hr>
</head>
<body>
  <h1><%= task.name %></h1>  
  isTasty? <%= task.tasty %>

  <form action = "/tasks/<%= task._id %>/delete" method="POST">
<button type="submit">Delete <%= task.name %></button>
  </form>

  <br></br>
  <a href="/tasks">Back to all tasks</a>
</body>
</html>
<%- include('./partials/footer') %>
